<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
  </head>
  <body>
    <main class="auth-main">
      <form class="auth-form" th:action="@{/login}" method="post" autocomplete="off">
        <img th:src="@{img/litter-logo.png}" id="litter-logo" />

        <input
          type="text"
          name="username"
          placeholder="Username"
          autocomplete="username"
        />

        <input
          type="password"
          name="password"
          placeholder="Senha"
          autocomplete="current-password"
        />

        <button type="submit">Entrar</button>
        <p>Não possui uma conta? <a th:href="@{/signup}" id="link-cadastro">Cadastre uma aqui.</a></p>

        <p th:if="${param.error}" id="incorrect-credentials">Username ou senha incorretos, tente novamente</p>
        <p th:if="${param.logout}" id="logout-message">Você saiu da sua conta.</p>
      </form>
    </main>
  </body>
</html>
