<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <title>Cadastrar</title>
  </head>
  <body>
    <main>
      <form
        class="signup-form"
        th:action="@{/signup}"
        method="post"
        th:object="${user}"
      >
        <label for="picture" class="profile-picture">
          <img
            id="preview"
            src="/img/default-icon.png"
            alt="Profile Picture"
          />
        </label>

        <input
          id="picture"
          type="file"
          th:field="*{picture}"
          accept="image/*"
          hidden
        />

        <input
          type="text"
          th:field="*{username}"
          placeholder="Seu nome (Ex. John Doe)"
        />
        <input
          type="text"
          th:field="*{handle}"
          placeholder="Nickname (Ex. johndoe)"
        />
        <input type="password" th:field="*{password}" placeholder="Senha" />

        <button>Cadastrar</button>
      </form>
    </main>
  </body>
  <script th:src="@{/js/index.js}"></script>
</html>
